<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Survey Form</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
  <!-- <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'><link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<header class="header">
		<h1 id="title" class="text-center">Learning Style Questionnaire</h1>
		<p id="description" class="text-center">
			Please choose the answers
		</p>
	</header>

	<div class="form-wrap">	
		<form action="{{ url_for('ils_predict')}}" method="post" id="survey-form">
			<div class="row">
				<!--<div class="col-3"></div>-->
				<div class="col-6">
					<div class="form-group">
						<label id="name-label" for="name">1. I understand something better after I 	</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q1" value="1">
							<label class="form-check-label" for="radio1">try it out.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q1" value="2">
							<label class="form-check-label" for="radio2">think it through</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">2. When I am learning something new, it helps me to </label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q2" value="1">
							<label class="form-check-label" for="radio1">talk about it</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q2" value="2">
							<label class="form-check-label" for="radio2">think about it.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">3. In a study group working on difficult material, I am more likely to </label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q3" value="1">
							<label class="form-check-label" for="radio1">jump in and contribute ideas.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q3" value="2">
							<label class="form-check-label" for="radio2">sit back and listen.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">4. In classes I have taken</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q4" value="1">
							<label class="form-check-label" for="radio1">I have usually gotten to know many of the students.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q4" value="2">
							<label class="form-check-label" for="radio2">I have rarely gotten to know many of the students.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">5. When I start a homework problem, I am more likely to</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q5" value="1">
							<label class="form-check-label" for="radio1">start working on the solution immediately</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q5" value="2">
							<label class="form-check-label" for="radio2">try to fully understand the problem first.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">6. I prefer to study
 </label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q6" value="1">
							<label class="form-check-label" for="radio1">in a study group.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q6" value="2">
							<label class="form-check-label" for="radio2">alone.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">7. I would rather first</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q7" value="1">
							<label class="form-check-label" for="radio1">try things out.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q7" value="2">
							<label class="form-check-label" for="radio2">think about how I’m going to do it</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">8. I more easily remember</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q8" value="1">
							<label class="form-check-label" for="radio1">something I have done.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q8" value="2">
							<label class="form-check-label" for="radio2">something I have thought a lot about.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">9. When I have to work on a group project, I first want to </label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q9" value="1">
							<label class="form-check-label" for="radio1">have “group brainstorming” where everyone contributes ideas.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q9" value="2">
							<label class="form-check-label" for="radio2">brainstorm individually and then come together as a group to compare ideas.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">10. I am more likely to be considered</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q10" value="1">
							<label class="form-check-label" for="radio1">outgoing.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q10" value="2">
							<label class="form-check-label" for="radio2">reserved.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">11. The idea of doing homework in groups, with one grade for the entire group,</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q11" value="1">
							<label class="form-check-label" for="radio1">appeals to me.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q11" value="2">
							<label class="form-check-label" for="radio2">does not appeal to me.</label>
						</div>
					</div>
				</div>
			</div>

			<br>
	
	</div>	
</div>

<br>
<br>
<br>

<div class="container">
	<header class="header">
		<!--<h1 id="title" class="text-center">Business Performance Details</h1>
		<p id="description" class="text-center">
			Thank you for taking the time to help us improve the platform
		</p>-->
	</header>

	<br>

	<div class="form-wrap">		

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">12. I would rather be considered</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q12" value="1">
							<label class="form-check-label" for="radio1">realistic</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q12" value="2">
							<label class="form-check-label" for="radio2">innovative</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">13. If I were a teacher, I would rather teach a course</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q13" value="1">
							<label class="form-check-label" for="radio1">that deals with facts and real life situations.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q13" value="2">
							<label class="form-check-label" for="radio2">that deals with ideas and theories.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">14. I find it easier</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q14" value="1">
							<label class="form-check-label" for="radio1">to learn facts.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q14" value="2">
							<label class="form-check-label" for="radio2">to learn concepts.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">15. In reading nonfiction, I prefer</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q15" value="1">
							<label class="form-check-label" for="radio1">something that teaches me new facts or tells me how to do something.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q15" value="2">
							<label class="form-check-label" for="radio2">something that gives me new ideas to think about.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">16. I prefer the idea of</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q16" value="1">
							<label class="form-check-label" for="radio1">certainty.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q16" value="2">
							<label class="form-check-label" for="radio2">theory.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">17. I am more likely to be considered</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q17" value="1">
							<label class="form-check-label" for="radio1">careful about the details of my work.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q17" value="2">
							<label class="form-check-label" for="radio2">creative about how to do my work.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">18. When I am reading for enjoyment, I like writers to</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q18" value="1">
							<label class="form-check-label" for="radio1">clearly say what they mean.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q18" value="2">
							<label class="form-check-label" for="radio2">say things in creative, interesting ways.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">19. When I have to perform a task, I prefer to</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q19" value="1">
							<label class="form-check-label" for="radio1">master one way of doing it.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q19" value="2">
							<label class="form-check-label" for="radio2">come up with new ways of doing it.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">20. I consider it higher praise to call someone</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q20" value="1">
							<label class="form-check-label" for="radio1">sensible.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q20" value="2">
							<label class="form-check-label" for="radio2">imaginative.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">21. I prefer courses that emphasize</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q21" value="1">
							<label class="form-check-label" for="radio1">concrete material (facts, data)</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q21" value="2">
							<label class="form-check-label" for="radio2">abstract material (concepts, theories)</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">22. When I am doing long calculations,</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q22" value="1">
							<label class="form-check-label" for="radio1">I tend to repeat all my steps and check my work carefully.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q22" value="2">
							<label class="form-check-label" for="radio2">I find checking my work tiresome and have to force myself to do it.</label>
						</div>
					</div>
				</div>
			</div>

			<br>	
			</div>
			<br>
	</div>	
</div>

<br>
<br>
<br>


<div class="container">
	<header class="header">
		<!--<h1 id="title" class="text-center">Finance Details</h1>
		<p id="description" class="text-center">
			Thank you for taking the time to help us improve the platform
		</p>-->
	</header>

  <br>

	<div class="form-wrap">	

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">23. When I think about what I did yesterday, I am most likely to get</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q23" value="1">
							<label class="form-check-label" for="radio1">a picture.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q23" value="2">
							<label class="form-check-label" for="radio2">words.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">24. I prefer to get new information in</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q24" value="1">
							<label class="form-check-label" for="radio1">pictures, diagrams, graphs, or maps.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q24" value="2">
							<label class="form-check-label" for="radio2">written directions or verbal information.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">25. In a book with lots of pictures and charts, I am likely to</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q25" value="1">
							<label class="form-check-label" for="radio1">look over the pictures and charts carefully</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q25" value="2">
							<label class="form-check-label" for="radio2">focus on the written text.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">26. I like teachers</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q26" value="1">
							<label class="form-check-label" for="radio1">who put a lot of diagrams on the board.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q26" value="2">
							<label class="form-check-label" for="radio2">who spend a lot of time explaining</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">27. I remember best</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q27" value="1">
							<label class="form-check-label" for="radio1">what I see.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q27" value="2">
							<label class="form-check-label" for="radio2">what I hear</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">28. When I get directions to a new place, I prefer</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q28" value="1">
							<label class="form-check-label" for="radio1">a map.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q28" value="2">
							<label class="form-check-label" for="radio2">written instructions.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">29. When I see a diagram or sketch in class, I am most likely to remember</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q29" value="1">
							<label class="form-check-label" for="radio1">the picture.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q29" value="2">
							<label class="form-check-label" for="radio2">what the instructor said about it.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">30. When someone is showing me data, I prefer</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q30" value="1">
							<label class="form-check-label" for="radio1">charts or graphs.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q30" value="2">
							<label class="form-check-label" for="radio2">text summarizing the results.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">31. When I meet people at a party, I am more likely to remember</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q31" value="1">
							<label class="form-check-label" for="radio1">what they looked like.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q31" value="2">
							<label class="form-check-label" for="radio2">what they said about themselves.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">32. For entertainment, I would rather</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q32" value="1">
							<label class="form-check-label" for="radio1">watch television.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q32" value="2">
							<label class="form-check-label" for="radio2">read a book.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">33. I tend to picture places I have been</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q33" value="1">
							<label class="form-check-label" for="radio1">easily and fairly accurately</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q33" value="2">
							<label class="form-check-label" for="radio2">with difficulty and without much detail.</label>
						</div>
					</div>
				</div>
			</div>

			<br>

			<br>
			
			</div>
			<br>
	</div>	
</div>

<br>
<br>
<br>

<div class="container">
	<header class="header">
		<!--<h1 id="title" class="text-center">Operations Utlization Details</h1>
		<p id="description" class="text-center">
			Thank you for taking the time to help us improve the platform
		</p>-->
	</header>

	<br>

	<div class="form-wrap">	
			
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">34. I tend to </label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q34" value="1">
							<label class="form-check-label" for="radio1">understand details of a subject but may be fuzzy about its overall structure.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q34" value="2">
							<label class="form-check-label" for="radio2">understand the overall structure but may be fuzzy about details.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">35. Once I understand
</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q35" value="1">
							<label class="form-check-label" for="radio1">all the parts, I understand the whole thing.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q35" value="2">
							<label class="form-check-label" for="radio2">the whole thing, I see how the parts fit</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">36. When I solve math problems Once I understand</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q36" value="1">
							<label class="form-check-label" for="radio1">I usually work my way to the solutions one step at a time</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q36" value="2">
							<label class="form-check-label" for="radio2">I often just see the solutions but then have to struggle to figure out the steps to get to them</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">37. When I’m analyzing a story or a novel</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q37" value="1">
							<label class="form-check-label" for="radio1">I think of the incidents and try to put them together to figure out the themes</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q37" value="2">
							<label class="form-check-label" for="radio2">I just know what the themes are when I finish reading and then I have to go back and find the incidents that demonstrate them.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">38. It is more important to me that an instructor</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q38" value="1">
							<label class="form-check-label" for="radio1">lay out the material in clear sequential steps.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q38" value="2">
							<label class="form-check-label" for="radio2">give me an overall picture and relate the material to other subjects.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">39. I learn</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q39" value="1">
							<label class="form-check-label" for="radio1">at a fairly regular pace. If I study hard, I’ll “get it.”</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q39" value="2">
							<label class="form-check-label" for="radio2">in fits and starts. I’ll be totally confused and then suddenly it all “clicks.”</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">40. When considering a body of information, I am more likely to</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q40" value="1">
							<label class="form-check-label" for="radio1">focus on details and miss the big picture.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q40" value="2">
							<label class="form-check-label" for="radio2">try to understand the big picture before getting into the details.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">41. When writing a paper, I am more likely to</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q41" value="1">
							<label class="form-check-label" for="radio1">work on (think about or write) the beginning of the paper and progress forward.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q41" value="2">
							<label class="form-check-label" for="radio2">work on (think about or write) different parts of the paper and then order them.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">42. When I am learning a new subject, I prefer to</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q42" value="1">
							<label class="form-check-label" for="radio1">stay focused on that subject, learning as much about it as I can</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q42" value="2">
							<label class="form-check-label" for="radio2">try to make connections between that subject and related subjects.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">43. Some teachers start their lectures with an outline of what they will cover. Such outlines are</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q43" value="1">
							<label class="form-check-label" for="radio1">somewhat helpful to me.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q43" value="2">
							<label class="form-check-label" for="radio2">very helpful to me.</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label id="number-label" for="number">44. When solving problems in a group, I would be more likely to</label>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio1" name="q44" value="1">
							<label class="form-check-label" for="radio1">think of the steps in the solution process.</label>
						</div>	
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radio2" name="q44" value="2">
							<label class="form-check-label" for="radio2">think of possible consequences or applications of the solution in a wide range of areas.</label>
						</div>
					</div>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-md-4">
					<button type="submit" id="submit" class="btn btn-primary btn-block ">Predict</button>
				</div>
			</div>

		</div>

			<br>
	</form>	

	
  <br>
  <br>

   <!--{{ prediction_text }}-->
	
	</div>	
</div>




<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>
</body>
</html>
